<div class="main">
    <div class="page-content">
        <div class="header">
            <div class="logo">
                <h2>Logo</h2>
            </div>
            <div class="logo">
                <h2>sign</h2>
            </div>
        </div>
        <app-navbar></app-navbar>
        <div class="split-data">
            <div class="content1">
                <div class="content-wrap">
                    <div *ngFor="let data of summary">
                        <app-card [type]="data.type" [value]="data.value" [name]="data.name"></app-card>
                    </div>


                </div>
            </div>
            <div class="content2">
                <app-bar-chart
                [chartLabel] = "'Target Vs Created Media'"
                [label]="this.chart.label" 
                [value]="this.chart.value"
                ></app-bar-chart>
            </div>
        </div>
        <div class="table-session">
            <h3>
                Individual Creator Performance
            </h3>
            <div class="flex">
                <input type="text" [(ngModel)]="searchText" placeholder="Search" (input)="search()">
                <div>
                    <select [(ngModel)]="selectedOption" (input)="select($event)">
                        <option *ngFor="let option of options" [value]="option">{{ option }}</option>
                    </select>
                </div>
            </div>

            <div class="gapTable">
                <app-table [row]="rowTable" [column]="columnTable"></app-table>
            </div>
        </div>
        <div>
        </div>
    </div>
</div>