.main {
  margin: 0 auto;
  padding: 0 32px 105px 40px;
  max-width: 1116px;
  min-height: calc(100vh - 84px);
}
.flex {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.split-data {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  margin-top: 30px;
}
.content1 {
  width: 60%;
  border: solid #f6f6f6 1px;
  padding: 25px;
  border-radius: 10px;
  background-color: #f6f6f6;
}
.content2 {
  width: 31%;
  padding: 45px 15px;
  border: solid #f6f6f6 2px;
  border-radius: 10px;
  height: 50%;
}
.content-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.table-session {
  margin-top: 50px;
  .gapTable {
    margin-top: 10px;
  }
}

input[type='text'] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  width: 200px;
}

input[type='text']:focus {
  outline: none;
  border-color: blue;
  box-shadow: 0 0 5px blue;
}
select {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  color: #333;
  width: 200px;
}

select:hover {
  border-color: #999;
}

select:focus {
  outline: none;
  border-color: #66afe9;
  box-shadow: 0 0 5px rgba(102, 175, 233, 0.5);
}


@media screen and (max-width: 1172px) {
  .content1 {
    width: 100%;
  }

  .content2 {
    width: 100%;
  }
}

@media screen and (max-width: 461px) {
  input {
    width: 50% !important;
  }
  select{
    width: 50% !important;
  }
  .main{
    padding: 0 15px 45px 15px;
  }
}
