.navbar {
  background-color: #ffffff;
  padding: 3px 0;

  .nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    cursor: pointer;
    border-bottom: solid #dbdbdb 1px;

    li {
      margin-right: 20px;
      span {
        text-decoration: none;
      }
      &.active {
        border-bottom: solid #434edb 2px;
        font-weight: bold;
        color: #434edb;
      }
    }
  }
}
